@import "tailwindcss" prefix(tw);
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
};

@plugin "daisyui/theme" {
  name: "prolight";

  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(99.5% 0.002 240); /* white */
  --color-base-200: oklch(98.4% 0.003 247.858); /* slate-50 */
  --color-base-300: oklch(96.8% 0.007 247.896); /* slate-100 */

  --color-base-content: oklch(27.9% 0.041 260.031); /* slate-800 */

  --color-primary: oklch(54.6% 0.245 262.881); /* blue-600 */
  --color-primary-content: oklch(99.5% 0.002 240); /* white */

  --color-secondary: oklch(69.6% 0.17 162.48); /* emerald-500 */
  --color-secondary-content: oklch(99.5% 0.002 240); /* white */

  --color-accent: oklch(54.1% 0.281 293.009); /* violet-500 */
  --color-accent-content: oklch(99.5% 0.002 240); /* white */

  --color-neutral: oklch(55.4% 0.046 257.417); /* slate-500 */
  --color-neutral-content: oklch(99.5% 0.002 240); /* white */

  --color-info: oklch(68.5% 0.169 237.323); /* sky-500 */
  --color-info-content: oklch(99.5% 0.002 240); /* white */

  --color-success: oklch(69.6% 0.17 162.48); /* emerald-500 */ 
  --color-success-content: oklch(97.9% 0.021 166.113); /* emerald-50 */

  --color-warning: oklch(76.9% 0.188 70.08); /* amber-500 */
  --color-warning-content: oklch(98.7% 0.022 95.277); /* amber-50 */

  --color-error: oklch(64.5% 0.246 16.439); /* rose-500 */
  --color-error-content: oklch(96.9% 0.015 12.422); /* rose-50 */

  --color-border-light: oklch(92.9% 0.013 255.508); /* slate-200 */
  --color-border-medium: oklch(86.9% 0.022 252.894); /* slate-300 */
}

.h0 {
  margin: 2.8rem 0 1.68rem 0;
  @apply tw:font-sans tw:text-3xl tw:font-bold tw:md:text-5xl tw:text-center;
}
 
h1,
.h1 {
  margin: 2.3733333333rem 0 1.424rem 0;
  @apply tw:font-sans tw:text-2xl tw:font-bold tw:md:text-4xl tw:text-center;
}
 
h2,
.h2 {
  margin: 1.9466666667rem 0 1.168rem 0;
  @apply tw:font-sans tw:text-xl tw:font-bold tw:md:text-3xl tw:text-center;
}
 
h3,
.h3 {
  margin: 1.52rem 0 0.912rem 0;
  @apply tw:font-sans tw:text-lg tw:font-bold tw:md:text-2xl tw:text-center;
}
 
h4,
.h4 {
  margin: 1.0933333333rem 0 0.656rem 0;
  @apply tw:font-sans tw:font-bold tw:md:text-lg;
}

h5,
.h5 {
  margin: 0.7666666667rem 0 0.46rem 0;
  @apply tw:font-sans tw:font-semibold;
}
 
body,
.p {
  @apply tw:font-sans tw:text-sm tw:md:text-base;
}

.layout {
  max-width: 68.75rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 100%;
  @apply tw:pt-4 tw:pb-8;
}

.custom-tooltip.tooltip-base,
.custom-tooltip.tooltip-neutral,
.custom-tooltip.tooltip-info,
.custom-tooltip.tooltip-accent,
.custom-tooltip.tooltip-error,
.custom-tooltip.tooltip-primary,
.custom-tooltip.tooltip-secondary,
.custom-tooltip.tooltip-warning,
.custom-tooltip.tooltip-success,

.custom-tooltip.tooltip-light {
  @apply tw:z-300
}

.border-rounded,
.button-primary,
.button-secondary,
.button-accent,
.button-neutral,
.button-info,
.button-success,
.button-warning,
.button-error,
.custom-tooltip.tooltip-base,
.custom-tooltip.tooltip-neutral,
.custom-tooltip.tooltip-info,
.custom-tooltip.tooltip-accent,
.custom-tooltip.tooltip-error,
.custom-tooltip.tooltip-primary,
.custom-tooltip.tooltip-secondary,
.custom-tooltip.tooltip-warning,
.custom-tooltip.tooltip-success,

.custom-tooltip.tooltip-light
{
  @apply tw:rounded-lg; 
}

.border-rounded-prominent {
  @apply tw:rounded-xl; 
}

.custom-tooltip.tooltip-base {
  @apply tw:bg-base-content;
  @apply tw:text-base-100;
}

.custom-tooltip.tooltip-neutral {
  @apply tw:bg-neutral;
  @apply tw:text-neutral-content;
}

.custom-tooltip.tooltip-info {
  @apply tw:bg-info;
  @apply tw:text-info-content;
}

.custom-tooltip.tooltip-primary {
  @apply tw:bg-primary;
  @apply tw:text-primary-content;
}

.custom-tooltip.tooltip-secondary {
  @apply tw:bg-secondary;
  @apply tw:text-secondary-content;
}

.custom-tooltip.tooltip-accent {
  @apply tw:bg-accent;
  @apply tw:text-accent-content;
}

.custom-tooltip.tooltip-success {
  @apply tw:bg-success;
  @apply tw:text-success-content;
}

.custom-tooltip.tooltip-error {
  @apply tw:bg-error;
  @apply tw:text-error-content;
}

.custom-tooltip.tooltip-warning {
  @apply tw:bg-warning;
  @apply tw:text-warning-content;
}
.custom-tooltip.tooltip-light {
  @apply tw:bg-base-300;
  @apply tw:text-base-content;
}

#portal-root {
  z-index: 300;
}


.button-primary {
  @apply tw:btn-sm tw:btn-primary tw:hover:text-primary tw:hover:bg-primary-content tw:hover:border-primary-content tw:shadow-none;
}

.button-secondary {
  @apply tw:btn-sm tw:btn-secondary tw:hover:text-secondary tw:hover:bg-secondary-content tw:hover:border-secondary-content tw:shadow-none;
}

.button-accent {
  @apply tw:btn-sm tw:btn-accent tw:hover:text-accent tw:hover:bg-accent-content tw:hover:border-accent-content tw:shadow-none;
}

.button-neutral {
  @apply tw:btn-sm tw:btn-neutral tw:hover:text-neutral tw:hover:bg-neutral-content tw:hover:border-neutral-content tw:shadow-none;
}

.button-info {
  @apply tw:btn-sm tw:btn-info tw:hover:text-info tw:hover:bg-info-content tw:hover:border-info-content tw:shadow-none;
}

.button-success {
  @apply tw:btn-sm tw:btn-success tw:hover:text-success tw:hover:bg-success-content tw:hover:border-success-content tw:shadow-none;
}

.button-warning {
  @apply tw:btn-sm tw:btn-warning tw:hover:text-warning tw:hover:bg-warning-content tw:hover:border-warning-content tw:shadow-none;
}

.button-error {
  @apply tw:btn-sm tw:btn-error tw:hover:text-error tw:hover:bg-error-content tw:hover:border-error-content tw:shadow-none;
}

.border-light      { border-color: var(--color-border-light); }   /* slate-200 */
.border-medium     { border-color: var(--color-border-medium); }   /* slate-300 */
.card {
  background-color: var(--color-base-100);
  border: 1px solid var(--color-border-light);
}

.background-border-medium {
  background-color: var(--color-border-medium);
}

/* .divider-border-medium {
  --divider-color: var(--color-border-medium);
} */

.tooltip-content {
  @apply tw:text-sm/5;
}

@media print {
    #sidebar-toggle { display: none; }
}
